services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434" # OllamaのAPIポート
    ipc: host
    volumes:
      # 複数のモデルファイルが入ったディレクトリをコンテナ内にマウント
      - ./gguf_files:/work/gguf_files:ro
      # 複数のModelfileを管理するフォルダをマウント
      - ./modelfiles:/work/modelfiles:ro
      # 作成したモデルを永続化するためのOllama内部領域
      - ollama_data:/root/.ollama
    working_dir: /work
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:11434/api/tags"]
      interval: 10s
      timeout: 10s
      retries: 30

volumes:
  ollama_data: